<div class="container">
  <div>
    <hr style="width: 100%; border-top: 1px solid ; margin: 6rem auto;">
  </div>

  <div class="row align-items-md-start align-items-center justify-content-center my-5">
      <!-- Texto -->
      <div class="col-md-9 col-12 text-start">
        <h2 class="fs-2">
          This First Heading <span class="text-muted">Will Catch Your Eye</span>
        </h2>
        <p class="text-secondary" style="word-wrap: break-word; overflow-wrap: break-word;">TEXTO TEXTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
      </div>

      <!-- Imagen -->
      <div class="col-md-3 col-12 text-center">
        <img src="assets/img/1.jpg" alt="First Image" class="rounded-circle img-fluid w-75 w-md-100" >
      </div>
  </div>
</div>
