<div>
  <hr style="width: 80%; border-top: 1px solid; margin: 6rem auto;">
</div>

<div class="row align-items-start justify-content-center my-5">
    <div class="col-2">
      <img src="assets/img/2.jpg" alt="First Image" class="rounded-circle img-fluid" style="max-width:100%;">
    </div>
    <div class="col-6 text-start">
      <h2 style="font-size: 2rem;">
        This Second Heading <span class="text-muted">Is Pretty Cool Too.</span>
      </h2>
      <p class="text-secondary" style="word-wrap: break-word; overflow-wrap: break-word;">TEXTO TEXTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
    </div>
</div>

<div>
  <hr style="width: 80%; border-top: 1px solid; margin: 6rem auto;">
</div>
