<div class="container">
  <div>
    <hr style="width: 100%; border-top: 1px solid; margin: 6rem auto;">
  </div>

  <div class="row align-items-start justify-content-center my-5">
    <div class="col-md-3 col-12 text-mb-start text-center mb-5">
      <img src="assets/img/2.jpg" alt="First Image" class="rounded-circle img-fluid w-75 w-md-100">
    </div>
    <div class="col-md-9 col-12 text-start ">
      <h2 class="fs-2">
        This Second Heading <span class="text-muted">Is Pretty Cool Too.</span>
      </h2>
      <p class="text-secondary" style="word-wrap: break-word; overflow-wrap: break-word;">TEXTO
        TEXTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
    </div>
  </div>

  <div>
    <hr style="width: 100%; border-top: 1px solid; margin: 6rem auto;">
  </div>
</div>